<footer class="footer">
	<div class="wrapper">
		<div class="footer__inner">
			<a class="footer__logo" href="./">
				<img src="./images/footer-logo.png" alt="">
			</a>
			<div class="footer__navi">
				<h2 class="footer__navi-title">Меню в футере 1</h2>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
			</div>
			<div class="footer__navi">
				<h2 class="footer__navi-title">Меню в футере 2</h2>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
				<a href="./" class="footer__navi-item">пункт</a>
			</div>
			<div class="footer__info">
				<h2 class="footer__info-title">ООО "АРТИТЭК"</h2>
				<p class="footer__info-row footer__info-row_city">
					<span>196006, Санкт-Петербург</span>
				</p>
				<p class="footer__info-row footer__info-row_adress">улица Заставская, дом 33 ББ </p>
				<p class="footer__info-row"><span>tel.:</span><a href="tel:+78124071306">+7 (812) 407 1306</a></p>
				<p class="footer__info-row"><span>whatsapp:</span><a href="tel:+79218994567">+7 (921) 899 4567</a></p>
				<p class="footer__info-row"><span>e-mail:</span><a href="mailto:zakaz@artitec.ru">zakaz@artitec.ru</a></p>
			</div>
		</div>
		<div class="footer__copyright">все права защищены &copy; artitec</div>
	</div>
</footer>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>