<div class="detail__case">
	<div class="detail__case-side">
		<h2 class="detail__case-title">@@title</h2>
		<div class="detail__case-text">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatem quis tempore asperiores quaerat fugiat magni facere laboriosam sit ea sed aliquid aspernatur eos mollitia ullam laudantium earum enim, doloremque, beatae recusandae aut? Perspiciatis ipsam minus earum nulla laborum exercitationem nihil voluptates sequi blanditiis voluptate. Inventore assumenda asperiores voluptatem veritatis.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet laudantium sit suscipit consequatur quas pariatur ea vel asperiores dolores est?</p>
		</div>
	</div>
	<div class="detail__slider owl-carousel">
		<div class="detail__slider-item"><img src="./images/slider-image.png" alt=""></div>
		<div class="detail__slider-item"><img src="./images/slider-image-2.png" alt=""></div>
	</div>
</div>
