<div class="@@if(this.class){@@class} categories">
	<div class="categories__item">
		<h3>Холсты</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Абстракции</a>
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Животные</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
	<div class="categories__item">
		<h3>Постеры</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
	<div class="categories__item">
		<h3>Модульные</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
</div>
<div class="@@if(this.class){@@class} filter">
	<h3 class="filter__title">Ориентация</h3>
	<div class="filter__items">
		<label class="filter__item"><input type="radio" name="orient"> все</label>
		<label class="filter__item"><input type="radio" name="orient"> горизонтальные</label>
		<label class="filter__item"><input type="radio" name="orient"> вертикальные</label>
		<label class="filter__item"><input type="radio" name="orient"> квадратные</label>
	</div>
</div>
<div class="@@if(this.class){@@class} filter">
	<h3 class="filter__title">Основной цвет</h3>
	<div class="filter__items">
		<label class="filter__item">
			<input type="radio" name="color">
			<span>все</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color">
			<span class="filter__color filter__color_bw"></span>
			<span>черно-белый</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color">
			<span class="filter__color filter__color_red"></span>
			<span>красный</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color">
			<span class="filter__color filter__color_green"></span>
			<span>зеленый</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color">
			<span class="filter__color filter__color_blue"></span>
			<span>синий</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color">
			<span class="filter__color filter__color_yellow"></span>
			<span>желтый</span>
		</label>
	</div>
</div>


