<div class="@@if(this.classes){@@classes} categories">
	<div class="categories__item">
		<h3>Холсты</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Абстракции</a>
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Животные</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
	<div class="categories__item">
		<h3>Постеры</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
	<div class="categories__item">
		<h3>Модульные</h3>
		<div class="categories__subitems">
			<a class="categories__subitem" href="./">Города</a>
			<a class="categories__subitem" href="./">Пейзаж</a>
			<a class="categories__subitem" href="./">Ретро</a>
			<a class="categories__subitem" href="./">Фильмы</a>
		</div>
	</div>
</div>
<div class="@@if(this.classes){@@classes} filter">
	<h3 class="filter__title">Ориентация</h3>
	<div class="filter__items">
		<label class="filter__item"><input type="radio" name="orient" checked><span>все</span></label>
		<label class="filter__item"><input type="radio" name="orient"><span>горизонтальные</span></label>
		<label class="filter__item"><input type="radio" name="orient"><span>вертикальные</span></label>
		<label class="filter__item"><input type="radio" name="orient"><span>квадратные</span></label>
	</div>
</div>
<div class="@@if(this.classes){@@classes} filter">
	<h3 class="filter__title">Тип изображения</h3>
	<div class="filter__items">
		<label class="filter__item"><input type="radio" name="type" checked><span>все</span></label>
		<label class="filter__item"><input type="radio" name="type"><span>фотографии</span></label>
		<label class="filter__item"><input type="radio" name="type"><span>графика</span></label>
		<label class="filter__item"><input type="radio" name="type"><span>репродукции</span></label>
	</div>
</div>
<div class="@@if(this.classes){@@classes} filter">
	<h3 class="filter__title">Локация</h3>
	<div class="filter__items">
		<label class="filter__item"><input type="radio" name="location" checked><span>все</span></label>
		<label class="filter__item"><input type="radio" name="location"><span>для кухни</span></label>
		<label class="filter__item"><input type="radio" name="location"><span>для гостиной</span></label>
		<label class="filter__item"><input type="radio" name="location"><span>для детской</span></label>
		<label class="filter__item"><input type="radio" name="location"><span>для офиса</span></label>
		<label class="filter__item"><input type="radio" name="location"><span>для ресторана</span></label>
	</div>
</div>
<div class="@@if(this.classes){@@classes} filter">
	<h3 class="filter__title">Основной цвет</h3>
	<div class="filter__items">
		<label class="filter__item">
			<input type="radio" name="color"checked>
			<span>все</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color"><span></span>
			<span class="filter__color filter__color_bw">черно-белый</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color"><span></span>
			<span class="filter__color filter__color_red">красный</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color"><span></span>
			<span class="filter__color filter__color_green">зеленый</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color"><span></span>
			<span class="filter__color filter__color_blue">синий</span>
		</label>
		<label class="filter__item">
			<input type="radio" name="color"><span></span>
			<span class="filter__color filter__color_yellow">желтый</span>
		</label>
	</div>
</div>


