<header class="header"> 
	<div class="wrapper">
		<div class="header__inner">
			<a class="header__logo" href="./"><img src="./images/logo.png" alt=""></a>
			<div class="header__side">
				<div class="header__side-top">
					<a class="header__tel" href="tel:+78008074560">8 (800) 807 4560 <span>бесплатный звонок по России</span></a>
					<div class="header__social">
						<a class="header__social-item header__social-item_inst" href="./"></a>
						<a class="header__social-item header__social-item_vk" href="./"></a>
						<a class="header__social-item header__social-item_wapp" href="./"></a>
					</div>
					<nav class="header__navi">
						<a class="header__navi-item" href="./">о нас</a>
						<a class="header__navi-item" href="./">багетная мастерская</a>
						<a class="header__navi-item" href="./">пункты самовывоза</a>
						<a class="header__navi-item" href="./">доставка</a>
						<a class="header__navi-item" href="./">оплата</a>
						<a class="header__navi-item" href="./">контакты</a>
					</nav>
				</div>
				<div class="header__side-bottom">
					<form action="" class="header__search">
						<div class="header__search-select">
							<select name="">
								<option value="0">Все категории</option>
								<option value="1">Холсты</option>
								<option value="2">Постеры</option>
								<option value="3">Модульные</option>
							</select>
						</div>
						<div class="header__search-request">
							<input class="header__search-query" type="text" placeholder="Поиск по сайту">
							<input class="header__search-submit" type="submit" value="">
						</div>
					</form>
					<div class="header__utility">
						<a class="header__profile" href="./">Личный кабинет</a>
						<a class="header__deffered" href="./">Отложенные <span>(1)</span></a>
						<a class="header__cart" href="./">88 888, 00 Р</a>
					</div>
				</div>
			</div>
			<div class="header__categories">
				<a class="header__categories-title" href="./catalog.html">Каталог</span>
				<a class="header__categories-item" href="./catalog.html">Холсты</a>
				<a class="header__categories-item" href="./catalog.html">Постеры</a>
				<a class="header__categories-item" href="./catalog.html">Модульные</a>
				<a class="header__categories-print" href="./catalog.html">Печать на заказ</a>
			</div>
		</div>
	</div>
</header>