<section class="manufacture">
	<div class="wrapper">
		<div class="manufacture__inner">
			<div class="manufacture__side">
				<h1 class="manufacture__title">Наше производство</h1>
				<div class="manufacture__text">
					<p>Декор стен важен для любого интерьера. Если вы хотите купить картины для дома, офиса, ресторана, отеля, салона красоты или напечатать фотографии для дома или для выставки – вам в студию Артитэк!</p>
					<p>Наша основная специализация – печать на холсте. С 2008 года мы печатаем ваши фотографии, создаем репродукции картин и помогаем оформлять интерьеры</p>
					<p>Наша основная специализация – печать на холсте. С 2008 года мы печатаем ваши фотографии, создаем репродукции картин и помогаем оформлять интерьеры.</p>
				</div>
				<a class="manufacture__button" href="./" data-modal="order">Заказать</a>
			</div>
			<div class="manufacture__slider owl-carousel">
				<div class="manufacture__slider-item">
					<img src="./images/slider-image.png" alt="">
				</div>
				<div class="manufacture__slider-item">
					<img src="./images/slider-image.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
