<div class="modal__hidden" id="order">
	<form class="modal__form" action="/">
		<div class="modal__field">
			<span class="modal__label">Ваш e-mail</span>
			<input class="modal__input" type="text" name="email" placeholder="E-mail">
		</div>
		<div class="modal__field">
			<span class="modal__label">Ваше имя</span>
			<input class="modal__input" type="text" name="name" placeholder="Имя">
		</div>
		<div class="modal__field">
			<span class="modal__label">Ваш телефон</span>
			<input class="modal__input" type="text" name="phone" placeholder="Телефон (в произвольной форме)">
		</div>
		<div class="modal__field">
			<input class="modal__input" type="text" name="city" placeholder="Ваш город">
		</div>
		<div class="modal__field">
			<label class="modal__file"><input type="file" name="file">Загрузить файлы</label>
		</div>
		<div class="modal__field">
			<textarea class="modal__textarea" name="comment" placeholder="Ваш комментарий, если необходим"></textarea>
		</div>
		<div class="modal__bottom">
			<input class="modal__submit" type="submit" value="Заказать">
			<p class="modal__note">Нажимая кнопку, вы принимаете условия <a href="./">публичной оферты</a> и даете согласие на обработку <a href="./">персональных данных</a></p>
		</div>
	</form>
</div>
<div class="modal__hidden" id="help">
	<img src="./images/canvas_size_modul.jpg" alt="">
</div>