<div class="properties__size">
   <h3 class="properties__title">РАЗМЕР, см</h3>
   <div class="properties__size-select mb-2">
      <select name="sizes">
         <option value="40x60" selected>40 x 60</option>
         <option value="60x80">60 x 80</option>
         <option value="80x100">80 x 100</option>
      </select>
   </div>
   <span class="properties__size-count">Количество модулей: 5</span>
   <span class="properties__size-sm">Размеры модулей, см: 40х30, 50х60, 60х70, 50х60, 40х30</span>
</div>
<div class="properties__block">
   <h3 class="properties__title">НАТЯЖКА НА ПОДРАМНИК</h3>
   <div class="properties__items">
      <label data-type="standart" class="properties__item">
         <input type="radio" name="stretcher" checked>
         <img src="./images/baget-stretcher-standart.png" alt=""><span>стандарт</span>
      </label>
      <label data-type="studio" class="properties__item">
         <input type="radio" name="stretcher">
         <img src="./images/baget-stretcher-studio.png" alt=""><span>студийный</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="stretcher"></a>
   </div>
</div>
<div class="properties__block">
   <h3 class="properties__title">Лак и текстурный гель</h3>
   <div class="properties__items">
      <label class="properties__item">
         <input type="radio" name="gel" checked>
         <img src="./images/baget-empty.png" alt=""><span>нет</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="gel">
         <img src="./images/baget-gel.png" alt=""><span>лак</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="gel">
         <img src="./images/baget-gel.png" alt=""><span>гель</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="gelVarnish"></a>
   </div>
</div>
<div class="properties__block properties__block_note">
   <div class="properties__items">
      <div class="properties__item properties__item_note">
         <img src="./images/baget-gel.png" alt=""><span>Картина доступна с ручной росписью красками</span>
      </div>
      <a href="" class="properties__item properties__item_note properties__item_help" data-modal="help"></a>
   </div>
</div>

<div class="properties__block"></div>