<div class="properties__size">
   <h3 class="properties__title">РАЗМЕР, см</h3>
   <div class="properties__size-select">
      <select name="sizes">
         <option value="40x60" selected>40 x 60</option>
         <option value="60x80">60 x 80</option>
         <option value="80x100">80 x 100</option>
      </select>
   </div>
</div>
<div class="properties__block">
   <h3 class="properties__title">Лак и текстурный гель</h3>
   <div class="properties__items">
      <label class="properties__item">
         <input type="radio" name="gel" checked>
         <img src="./images/baget-empty.png" alt=""><span>нет</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="gel">
         <img src="./images/baget-gel.png" alt=""><span>лак</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="gel">
         <img src="./images/baget-gel.png" alt=""><span>гель</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="help"></a>
   </div>
</div>
<div class="properties__block properties__block_note">
   <div class="properties__items">
      <div class="properties__item properties__item_note">
         <img src="./images/baget-gel.png" alt=""><span>Картина доступна с ручной росписью красками</span>
      </div>
      <a href="" class="properties__item properties__item_note properties__item_help" data-modal="help"></a>
   </div>
</div>
<div id="baget-test" class="properties__block">
   <h3 class="properties__title">Багет для картины</h3>
   <div class="properties__items">
      <label data-type="baget-empty" class="properties__item">
         <input type="radio" name="baget-type" checked>
         <img src="./images/baget-empty.png" alt=""><span>нет</span>
      </label>
      <label data-type="baget-enable" class="properties__item">
         <input type="radio" name="baget-type">
         <img src="./images/baget-simple.png" alt=""><span>простой</span>
      </label>
      <label data-type="baget-enable" class="properties__item">
         <input type="radio" name="baget-type">
         <img src="./images/baget-classic.png" alt=""><span>классика</span>
      </label>
      <label data-type="baget-enable" class="properties__item">
         <input type="radio" name="baget-type">
         <img src="./images/baget-premium.png" alt=""><span>премиум</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="help"></a>
   </div>

   <div class="properties__items_modif">
      <div class="properties__items-wrapper">
         <label class="properties__item">
            <input type="radio" name="baget" checked>
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
      </div>
      <div class="properties__items-wrapper">
         <label class="properties__item">
            <input type="radio" name="baget" checked>
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
      </div>
      <div class="properties__items-wrapper">
         <label class="properties__item">
            <input type="radio" name="baget" checked>
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
         <label class="properties__item">
            <input type="radio" name="baget">
            <img src="./images/baget-default.png" alt="">
         </label>
      </div>

   </div>
</div>
<div id="pasportu-test" class="properties__block">
   <h3 class="properties__title">Паспарту</h3>
   <div class="properties__items">
      <label class="properties__item">
         <input type="radio" name="mat" checked>
         <img src="./images/baget-empty.png" alt=""><span>нет</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="mat">
         <img src="./images/baget-mat-4mm.png" alt=""><span>белый 4 см</span>
      </label>
      <label class="properties__item">
         <input type="radio" name="mat">
         <img src="./images/baget-mat-8mm.png" alt=""><span>белый 8 см</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="help"></a>
   </div>
</div>
<div id="glass-test" class="properties__block">
   <h3 class="properties__title">Стекло для рамы</h3>
   <div class="properties__items">
      <label class="properties__item">
         <input type="radio" name="glass" checked>
         <img src="./images/baget-glass.png" alt=""><span>да</span>
      </label>
      <a class="properties__item properties__item_help" href="./" data-modal="help"></a>
   </div>
</div>

<div class="properties__block"></div>