<div class="properties__size">
	<h3 class="properties__title">РАЗМЕР, см</h3>
	<div class="properties__size-select">
		<select name="sizes">
			<option value="40x60" selected>40 x 60</option>
			<option value="60x80">60 x 80</option>
			<option value="80x100">80 x 100</option>
		</select>
	</div>
</div>
<div class="properties__block">
	<h3 class="properties__title">НАТЯЖКА НА ПОДРАМНИК</h3>
	<div class="properties__items">
		<label class="properties__item">
			<input type="radio" name="stretcher" checked>
			<img src="./images/baget-stretcher-standart.png" alt=""><span>стандарт</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="stretcher">
			<img src="./images/baget-stretcher-studio.png" alt=""><span>студийный</span>
		</label>
		<a class="properties__item properties__item_help" href="./"></a>
	</div>
</div>
<div class="properties__block">
	<h3 class="properties__title">Текстурный гель</h3>
	<div class="properties__items">
		<label class="properties__item">
			<input type="radio" name="gel" checked>
			<img src="./images/baget-empty.png" alt=""><span>нет</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="gel">
			<img src="./images/baget-gel.png" alt=""><span>да</span>
		</label>
		<a class="properties__item properties__item_help" href="./"></a>
	</div>
</div>
<div class="properties__block properties__block_note">
	<div class="properties__items">
		<div class="properties__item properties__item_note">
			<img src="./images/baget-gel.png" alt=""><span>Картина доступна с ручной росписью красками</span>
		</div>
		<a href="" class="properties__item properties__item_note properties__item_help"></a>
	</div>
</div>
<div class="properties__block">
	<h3 class="properties__title">Багет для картины</h3>
	<div class="properties__items">
		<label class="properties__item">
			<input type="radio" name="baget-type" checked>
			<img src="./images/baget-empty.png" alt=""><span>нет</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="baget-type">
			<img src="./images/baget-simple.png" alt=""><span>простой</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="baget-type">
			<img src="./images/baget-classic.png" alt=""><span>классика</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="baget-type">
			<img src="./images/baget-premium.png" alt=""><span>премиум</span>
		</label>
		<a class="properties__item properties__item_help" href="./"></a>
	</div>

	<div class="properties__items">
		<label class="properties__item">
			<input type="radio" name="baget" checked>
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
		<label class="properties__item">
			<input type="radio" name="baget">
			<img src="./images/baget-default.png" alt="">
		</label>
	</div>
</div>
<div class="properties__block">
	<h3 class="properties__title">Паспарту</h3>
	<div class="properties__items">
		<label class="properties__item">
			<input type="radio" name="mat" checked>
			<img src="./images/baget-empty.png" alt=""><span>нет</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="mat">
			<img src="./images/baget-paspar1.png" alt=""><span>белый 4 см</span>
		</label>
		<label class="properties__item">
			<input type="radio" name="mat">
			<img src="./images/baget-paspar2.png" alt=""><span>белый 8 см</span>
		</label>
		<a class="properties__item properties__item_help" href="./"></a>
	</div>
</div>
<div class="properties__block">
	<h3 class="properties__title">Стекло для рамы</h3>
	<div class="properties__items">
		<label class="properties__item">
			<input type="checkbox" name="glass" checked>
			<img src="./images/baget-glass.png" alt=""><span>да</span>
		</label>
		<a class="properties__item properties__item_help" href="./"></a>
	</div>
</div>
<div class="properties__block"></div>
