.action {
	$self: &;
	color: #fff;
	font-size: 18px;
	font-family: "SL", sans-serif;
	margin-bottom: 25px;
	
	&__inner {
		background-color: $blue;
		text-align: center;
		padding: 20px 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			font-family: "SB", sans-serif;
			font-size: 30px;
			margin-right: 5px;
		}
		
		strong {
			font-family: "SB", sans-serif;
	
			&:first-of-type {
				margin-right: 20px;
			}
	
			&:last-of-type {
				margin-left: 5px;
			}
		}

		@include media('<=sm') {
			flex-wrap: wrap;
		}

		@include media('<=xs') {
			font-size: 16px;
			padding-bottom: 35px;
		}

		@include media('<=xxs') {
			font-size: 14px;
			padding: 10px 20px 25px;

			strong:last-child {
				margin-top: 5px;
			}
		}
	}
}
