.properties {
	$self: &;

	&__block {
		margin-bottom: 10px;
		max-width: 400px;

		&_note {
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 35px 0px 15px 0px;
			margin-bottom: 20px;
		}
	}

	&__items {
		display: flex;
		flex-flow: row wrap;

		&:not(:first-child) {
			padding-top: 10px;
		}
	}

	&__items-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		box-sizing: border-box;
		cursor: pointer;
		margin-bottom: 15px;
		width: 65px;
		height: 65px;
	
		@include media('<=xxxs') {
			width: 50px;
			height: 50px;
		}
			
		&:not(:last-of-type) {
			margin-right: 20px;

			@include media('<=xxs-new') {
				margin-right: 15px;
			}

			@include media('<=xxxs') {
				margin-right: 10px;
			}
		}
		
		input {
			display: none;

			&:checked + img {
				outline: 1px solid $red;
			}
		}
		
		img {
			box-sizing: border-box;
			display: block;
			width: 65px;
			height: 65px;
			margin-bottom: 5px;
			border: 1px solid #fff;
			outline: 1px solid $grey;

			@include media('<=xxxs') {
				width: 50px;
				height: 50px;
			}
		}

		span {
			display: block;
			font-family: "SL", sans-serif;
			font-size: 14px;
			line-height: 1.1;
			white-space: nowrap;
		}

		//?
		&_help#{&}_note {
			width: 32px;
			height: 32px;
			margin-right: 0;
		}

		//?
		&_note {
			display: flex;
			margin-right: 20px;
			
			img {
				width: 32px;
				height: 32px;
				outline: none;
				border: none;
				margin-right: 10px;
			}
			span {
				font-size: 16px;
				text-transform: uppercase;
				max-width: 240px;
			}
		}
	}
}
