.advice {
	$self: &;

	&__title {
		font-size: 24px;
		text-transform: uppercase;
		color: #484848;
		text-align: center;
		margin-bottom: 25px;
	}

	&__set {
		margin-bottom: 34px;
	}

	&__set-row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin: 0 -8px;
	}

	&__set-card {
		box-sizing: border-box;
		margin: 0 8px 16px;
		width: calc(99.9% / 4 - 16px);

		@include media('<=lg') {
			width: calc(99.9% / 3 - 16px);
			&:last-child {
				display: none;
			}
		}

		@include media('<=sm') {
			width: calc(99.9% / 2 - 16px);
			&:last-child {
				display: block;
			}
		}

		@include media('<=xxs') {
			width: calc(99.9% / 1 - 16px);
		}
	}

	&__button {
		display: block;
		appearance: none;
		background: none;
		outline: none;
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		white-space: nowrap;
		font-size: 16px;
		line-height: 1.1;
		color: #6e6e6e;
		border: 1px solid #6e6e6e;
		padding: 9px 25px;
		cursor: pointer;
		max-width: 245px;
		margin: 0 auto 56px;
	}
}
