.catalog {
	$self: &;

	&__top {
		display: flex;
		margin-bottom: 20px;
		align-items: center;

		@include media('<=lg') {
			flex-wrap: wrap;
		}
	}

	&__title {
		font-size: 24px;
		text-transform: uppercase;
		margin-right: auto;

		@include media('<=lg') {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__sort {
		display: flex;
		align-items: center;

		@include media('<=lg') {
			width: 100%;
			margin-bottom: 20px;
		}

		@include media('<=sm') {
			flex-wrap: wrap;
		}
	}
	
	&__sort-item {
		display: flex;
		box-sizing: border-box;
		position: relative;
		font-size: 12px;
		line-height: 17px;
		color: #000;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-right: 25px;
		height: 20px;

		&::after {
			display: block;
			content: '';
			width: 10px;
			height: 6px;
			background: url('./images/arr-down.svg') center / 10px 5px no-repeat transparent;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		span {
			box-sizing: border-box;
			display: inline-block;
			background-color: #eee;
			border-right: 1px solid #ccc;
			padding: 0 10px;
			height: 100%;
			border-radius: 5px 0 0 5px;
			overflow: hidden;
		}
		
		select {
			border-radius: 5px;
			box-sizing: border-box;
			appearance: none;
			outline: none;
			border: none;
			padding: 0 25px 3px 10px;
		}

		@include media('<=sm') {
			margin-bottom: 15px;
		}
	}

	&__top-pagination {

	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -8px;

		@include media('<=xxs') {
			justify-content: center;
		}
	}

	&__item {
		box-sizing: border-box;
		margin: 0 8px 80px;
		width: calc(99.9% / 3 - 16px);

		@include media('<=lg') {
			width: calc(99.9% / 3 - 16px);
		}

		@include media('<=md') {
			width: calc(99.9% / 2 - 16px);
		}

		@include media('<=sm') {
			width: calc(99.9% / 3 - 16px);
		}

		@include media('<=xs') {
			width: calc(99.9% / 2 - 16px);
		}

		@include media('<=xxs') {
			width: calc(99.9% / 1 - 16px);
		}
	}

	&__bottom {
		display: flex;
		margin-top: -30px;

		@include media('<=md') {
			flex-wrap: wrap;
		}
	}

	&__showed {
		font-family: "SL", sans-serif;
		font-size: 14px;
		margin-right: auto;

		@include media('<=md') {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__bottom-pagination {

	}

}
