.manufacture {
	$self: &;
	margin-bottom: 75px;

	&__inner {
		display: flex;
		justify-content: space-between;
		
		@include media('<=md') {
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__side {
		width: 47%;
		padding: 22px 60px 0;
		
		@include media('<=md') {
			width: 80%;
			margin-bottom: 70px;
		}
		
		@include media('<=xs') {
			padding: 0 20px 0 35px;
			width: 100%;
		}
	}

	&__title {
		font-family: "SL", sans-serif;
		font-size: 30px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-bottom: 40px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 20px;
			height: 21px;
			background-color: $blue;
			top: 50%;
			transform: translateY(-50%);
			left: -35px;
		}
	}
	
	&__text {
		font-family: "SL", sans-serif;
		font-size: 18px;
		line-height: 1.4;
		padding-bottom: 15px;

		p {
			margin-bottom: 25px;
		
			@include media('<=xxs') {
				font-size: 16px;
			}
		}
	}
	
	&__button {
		display: inline-block;
		font-size: 24px;
		line-height: 1.1;
		text-decoration: none;
		text-transform: uppercase;
		border: 1px solid $red;
		border-radius: 8px;
		color: $red;
		padding: 16px 35px;
	}

	&__slider {
		position: relative;
		width: 49%;

		.owl-stage-outer, .owl-stage, .owl-item {
			height: 100%;
		}
		
		@include media('<=md') {
			width: 70%;
		}
		
		@include media('<=xs') {
			width: 90%;
		}
	}

	&__slider-item {
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__prev, &__next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
		padding: 0;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		z-index: 1;
	}

	&__next {
		right: 10px;
		background: url('./images/arr-right.svg') right 11px center / auto no-repeat #bfbfbf;
	}
	
	&__prev {
		left: 10px;
		background: url('./images/arr-left.svg') left 11px center / auto no-repeat #bfbfbf;
	}

}
