.calculator {
	$self: &;

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__description {

		p {
			color: #1a1a1a;
			font-size: 18px;
			font-weight: 300;
			font-style: normal;
			letter-spacing: normal;
			line-height: 25px;
			margin-bottom: 30px;
		}

	}

	&__inner {

	}

	&__input-block {
		display: flex;
		width: 100%;
		max-width: 500px;
		height: 500px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		cursor: pointer;
		border: 5px solid #e3e3e3;
		&-text {
			font-size: 18px;
			color: #00a1e5;
			max-width: 200px;
			text-align: center;
			font-weight: 700;
		}
		&-img {
			opacity: 1;
			transition: .2s;
			&:hover {
				opacity: .7;
			}
		}
		@include media('<=xxs') {
			height: 350px;
		}
	}

	&__input-img {
		background-color: transparent;
	}

	&__left {

	}
	&__left-price-new {
		color: #db0000;
		font-size: 48px;
		@include media('<=xxs') {
			font-size: 35px;
		}
	}
	&__left-price-old {
		color: #1e1e1e;
		font-size: 36px;
		@include media('<=xxs') {
			font-size: 25px;
		}
		span {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				width: 102%;
				height: 2px;
				background-color:#db0000;
				left: 0;
				top: 50%;
			}
		}
	}

	&__material-select {
		&-wrapper {
			max-width: 250px;
			width: 100%;
			position: relative;
			    background: url("./images/arr-down.svg") right 10px center/12px 7px no-repeat transparent;
		}
		select {
			appearance: none;
			width: 100%;
			font-size: 18px;
			text-transform: uppercase;
			color: #1e1e1e;
			background-color: transparent;
			border: 1px solid #ccc;
			padding: 5px 7px;
		}
	}

	&__right {

	}

	&__side {

	}

	&__size {
		display: flex;
		align-items: flex-end;
		input[type="text"] {
			display: block;
			width: 100px;
			height: 40px;
			border: 1px solid #ccc;

			@include media('<=lg') {
				width: 60px;
			}
			@include media('<=xxs') {
				width: 50px;
			}
			@include media('<=xxs') {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__size-between {
		margin: 0 12px 7px;

		@include media('<=lg') {
			margin: 0 8px 7px;
		}
			@include media('<=xxs') {
				margin: 0 6px 3px -6px;
			}
	}

	&__size-height {
		display: inline-block;
		margin-right: 19px;
			@include media('<=xxs') {
				margin-right: 12px;
			}
		input {
			padding-left: 10px;
			font-size: 20px;
			@include media('<=xxs') {
			font-size: 14px;
			}
		}
	}

	&__size-help {
		display: flex;
		margin-left: 20px;

		& a {
			width: 20px;
			height: 10px;
		}
	}

	&__size-proportional {
		label {
			color: #1e1e1e;
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		&-visible {
			position: relative;
			border: 1px solid #ccc;
			display: inline-block;
			width: 40px;
			height: 40px;
			padding-right: 12px;
			@include media('<=xxs') {
				width: 30px;
				height: 30px;
			}
		}
		&-hidden {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			clip: rect(0 0 0 0);
		}
		&-hidden:checked + label &-visible::before {
			content: '';
			position: absolute;
			background: url('../../images/check-calcul.png') no-repeat;
			background-size: contain;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 30px;
			height: 30px;
			@include media('<=xxs') {
				width: 20px;
				height: 20px;
			}
		}
		&-text {
			margin-left: 12px;

			@include media('<=xxs') {
				font-size: 12px;
			}
			@include media('<=xxs') {
				font-size: 10px;
				margin-left: 6px;
			}
		}

	}

	&__size-width {
		display: inline-block;
		label {
			display: block;
			color: #6e6e6e;
			font-size: 14px;
			font-weight: 300;

			@include media('<=lg') {
				font-size: 12px;
			}
			@include media('<=xxs') {
				font-size: 10px;
			}
		}
		input {
			display: block;
			padding-left: 10px;
			font-size: 20px;
			@include media('<=xxs') {
			font-size: 14px;
			}
		}
	}

	&__title {
		font-family: "SL", sans-serif;
		font-size: 30px;
		line-height: 1.1;
		text-transform: uppercase;
		margin-bottom: 40px;
		position: relative;

		@include media('<=md-new') {
			margin-left: 37px;
		}
		@include media('<=xxs') {
			font-size: 23px;
		}

		&::before {
			content: '';
			position: absolute;
			width: 21px;
			height: 21px;
			background-color: $blue;
			top: 7px;
			left: -35px;

			@include media('<=xxs') {
				width: 18px;
				height: 18px;
				top: 5px;
			}
		}
	}

	&__upload {
		display: flex;
		max-width: 500px;
		width: 100%;
		height: 100%;
		@include media('<=md-new') {
			margin-bottom: 20px;
		}
	}

	&__workspace {

	}

	&__wrapper {
		display: flex;
		margin-bottom: 150px;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media('<=md-new') {
			flex-direction: column-reverse;
		}
	}

}
