@import "lib/additional.scss"; 
@include reset(); 

@include font-face("Circe-Light", "CL");
@include font-face("Circe-Bold", "CB");
@include font-face("SegoeUI", "SR");
@include font-face("SegoeUI-SemiBold", "SSB");
@include font-face("SegoeUI-Bold", "SB");
@include font-face("SegoeUI-Light", "SL");

@import "../../node_modules/owl.carousel/dist/assets/owl.carousel";
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';



@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
  'xxxs': 360px,
  'xxs': 480px,
  'xs': 640px,
  'sm': 780px,
  'md': 960px,
  'lg': 1100px,
  'xlg': 1280px,
  'xxlg': 1440px,
  'xxxlg': 1680px,
  'xxxxlg': 1920px
);
@import "../blocks/**/*.scss";
body { @include screen-media(); }

body, html {
	font-size: #{$basesize}px;
	// line-height: calc(#{$basesize}px * 1.4);

	font-family: "SR", sans-serif;
	background-color: #fff;
	color: #000;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;

}
// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}


p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }
