.header {
	$self: &;
	margin-bottom: 37px;

	&__inner {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-end;
	}

	&__logo {
		width: 235px;
		flex-shrink: 0;
		margin-bottom: 32px;
		
		@include media('<=xlg') {
			display: none;
		}
		
		@include media('<=md') {
			display: block;
			max-width: 150px;
			margin-bottom: 20px;
		}
		
		&_mobile {
			display: none;
			min-width: 130px;

			@include media('<=xlg') {
				display: block;
				width: auto;
				margin-right: 18px;
				flex-shrink: 1;
			}

			@include media('<=lg') {
				margin-bottom: 20px;
			}

			@include media('<=md') {
				display: none;
			}
		}
	}

	&__side {
		margin-bottom: 20px;
		flex-grow: 1;

		@include media('<=md') {
			width: 100%;
		}
	}

	&__side-top {
		display: flex;
		align-items: center;
		padding-bottom: 3px;

		@include media('<=md') {
			flex-flow: column wrap;
			align-items: flex-start;
			position: fixed;
			z-index: 9999;
			right: -310px; top: 0;
			box-sizing: border-box;
			max-width: 300px;
			padding: 40px;
			background-color: #fff;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
			border-radius: 0px 0px 0px 8px;
			transition: right 0.3s ease-in;
			
			&.opened {
				right: 0;
			}
		}
	}

	&__tel {
		padding: 8px 0;
		text-decoration: none;
		color: inherit;
		font-size: 24px;
		line-height: 1.1;
		color: #484848;
		margin-right: 25px;
		white-space: nowrap;

		span {
			display: block;
			font-size: 12px;
		}

		@include media('<=xlg') {
			margin-right: 18px;
			font-size: 23px;
		}

		@include media('<=lg') {
			font-size: 21px;

			span {
				font-size: 11px;
			}
		}
	}

	&__social {
		display: flex;
		margin-right: 20px;

		@include media('<=xlg') {
			margin-right: 18px;
		}
		
		@include media('<=md') {
			order: 1;
			margin: 0;
			width: 100%;
			justify-content: center;
		}
	}

	&__social-item {
		height: 32px;
		width: 32px;

		&:not(:last-child) {
			margin-right: 11px;
		}

		&_inst {
			background: url('./images/icon-social-inst.png') center / auto no-repeat transparent;			
		}
		
		&_vk {
			background: url('./images/icon-social-vk.png') center / auto no-repeat transparent;			
		}
		
		&_wapp {
			background: url('./images/icon-social-wapp.png') center / auto no-repeat transparent;			
		}

		@include media('<=xlg') {
			height: 28px;
			width: 28px;
			background-size: 28px 28px;
		}

		@include media('<=lg') {
			height: 26px;
			width: 26px;
			background-size: 26px 26px;
		}
	}

	&__menu-open {
		display: none;
		width: 32px;
		height: 19px;
		margin-left: auto;
		background: url('./images/menu-open.svg') center / auto no-repeat transparent;
		align-self: center;
		cursor: pointer;
		
		@include media('<=md') {
			display: block;
		}
	}
	
	&__menu-close {
		display: none;
		position: absolute;
		top: 20px; right: 20px;
		width: 20px;
		height: 20px;
		background: url('./images/menu-close.svg') center / auto no-repeat transparent;
		cursor: pointer;

		@include media('<=md') {
			display: block;
		}
	}

	&__navi {
		font-family: "SL", sans-serif;
		font-size: 15px;
		line-height: 1.1;
		margin-left: auto;
		text-align: right;
		
		@include media('<=md') {
			text-align: left;
			margin: 0 0 30px 0;
		}
	}
	
	&__navi-item {
		display: inline-block;
		text-decoration: none;
		color: inherit;
		transition: color 0.2s ease-in;
		padding: 2px 0;
		
		&:not(:last-child) {
			margin-right: 22px;
		}
		
		&:hover {
			color: $blue;
		}
		
		@include media('<=xlg') {
			margin-right: 10px !important;
		}

		@include media('<=md') {
			display: block;
			padding: 10px 0;
		}
	}

	&__side-bottom {
		box-sizing: border-box;
		border-top: 1px solid #ccc;
		padding: 17px 0;
		display: flex;
		align-items: center;

		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__search {
		display: flex;

		@include media('<=xs') {
			width: 100%;
			order: 1;
		}

		@include media('<=xxs') {
			font-size: 14px;
		}

		@include media('<=xxxs') {
			font-size: 12px;
		}
	}

	&__search-select {
		border: 1px solid #c4c3c9;
		margin-right: -1px;
		padding: 8px 0;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			width: 24px;
			height: 19px;
			background: url('./images/icon-select-image.png') center / auto no-repeat transparent;
			top: 50%; left: 10px;
			transform: translateY(-50%);
		}

		&::after {
			position: absolute;
			content: '';
			width: 7px;
			height: 4px;
			background: url('./images/select-arr-down.svg') center / auto no-repeat transparent;
			top: 50%; right: 10px;
			transform: translateY(-50%);
		}
		
		select {
			appearance: none;
			outline: none;
			border: none;
			color: #6e6e6e;
			padding: 0px 25px 0px 40px;
		}
	}

	&__search-request {
		display: flex;
		align-items: center;
		
		@include media('<=xs') {
			flex-grow: 1;
		}
	}

	&__search-query {
		appearance: none;
		outline: none;
		border: 1px solid #c4c3c9;
		padding: 8px 15px;
		color: #6e6e6e;
		min-width: 290px;

		&::placeholder {
			color: #6e6e6e;
		}

		&:focus::placeholder {
			color: transparent;
		}
		
		@include media('<=md') {
			min-width: 0;
			max-width: 170px;
		}
		
		@include media('<=xs') {
			max-width: none;
			width: 100%;
		}
	}

	&__search-submit {
		display: block;
		appearance: none;
		cursor: pointer;
		outline: none;
		border: none;
		padding: 0;
		width: 32px;
		height: 32px;
		margin-left: -33px;
		background: url('./images/icon-search-zoom.png') center / auto no-repeat #fff;
	}

	&__utility {
		display: flex;
		margin-left: auto;
		font-family: "SL", sans-serif;
		font-size: 15px;
		line-height: 1.3;

		@include media('<=xs') {
			margin-bottom: 20px;
		}
	}

	&__utility-item {
		padding-left: 25px;
		min-height: 20px;
		text-decoration: none;
		color: inherit;
		transition: color 0.2s ease-in;
		
		&:hover {
			color: $blue;
		}

		&_profile {
			margin-right: 28px;
			background: url('./images/icon-utility-profile.png') left center / auto no-repeat transparent;

			@include media('<=md') {
				margin-right: 8px;
			}
		}

		&_deffered {
			margin-right: 28px;
			background: url('./images/icon-utility-deferred.png') left center / auto no-repeat transparent;
		
			span:last-child {
				color: $blue;
			}		
	
			@include media('<=md') {
				margin-right: 8px;
			}
		}
		
		&_cart {
			background: url('./images/icon-utility-cart.png') left center / auto no-repeat transparent;
		}

		@include media('<=sm') {
			span:first-child {
				display: none;
			}
		}
	}

	&__categories {
		width: 100%;
		background-color: #f2f1ed;
		display: flex;
		align-items: center;

		@include media('<=xxs') {
			flex-wrap: wrap;
		}
	}

	&__categories-title {
		background-color: $red;
		color: #fff;
		font-family: "SB", sans-serif;
		font-size: 20px;
		line-height: 1.1;
		padding: 8px 35px 10px 18px;
		margin-right: 41px;
		text-decoration: none;
		background: url('./images/red-corner.svg') right center / auto no-repeat transparent;
		align-self: stretch;
		display: flex;
		align-items: center;

		@include media('<=sm') {
			font-size: 18px;
			margin-right: 10px;
		}
		
		@include media('<=xs') {
			font-size: 15px;
			margin-right: 0;
		}

		@include media('<=xxs') {
			padding: 5px 35px 7px 18px;
			margin: 0 0 10px 0;
		}
	}
	
	&__categories-item {
		font-family: "SL", sans-serif;
		font-size: 20px;
		line-height: 1.1;
		text-decoration: none;
		color: inherit;
		padding: 0 16px 2px;
		transition: color 0.2s ease-in;
		
		&:hover {
			color: $blue;
		}
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xs') {
			font-size: 15px;
			padding: 0 10px 2px;
		}

		@include media('<=xxs') {
			width: 100%;
			padding: 5px 0 5px 20px;
		}
	}
	
	&__categories-print {
		background-color: $red;
		color: #fff;
		font-family: "SB", sans-serif;
		font-size: 20px;
		line-height: 1.1;
		padding: 8px 12px 10px 12px;
		text-decoration: none;
		margin-left: auto;

		@include media('<=sm') {
			font-size: 18px;
		}

		@include media('<=xs') {
			font-size: 15px;
		}

		@include media('<=xxs') {
			padding: 5px 12px 7px 12px;
			margin: 15px 0 0 0;
		}
	}
}
